@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family:  'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;

}
html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thump{
    background: var(--yellow);
}

body{
    background: #596275;
    overflow-x: hidden;
 
    padding-left: 35rem;
}

section{
    min-height:100vh;
    padding: 5rem;
}
.btn{
   
        background-color: #e84949;
        width: fit-content;
        color: white;
        padding: 0.8rem 2.3rem;
        box-shadow: 5px 5px 7px 0px #0000003f;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.5s;
        font-weight: 500;
        position: relative;
        z-index: 1;
        border-radius: 5rem;
      }
      .btn::before {
        content: "";
        position: absolute;
        background-color: #1f1f1f;
        top: 0;
        left : 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.8s;
        border-radius: 5rem;
      }
      .btn:hover::before {
        transform: scaleX(1);
        border-radius: 5rem;
      }
      .btn:hover {
        color: #fff;
       
      }


.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: var(--yellow);
}

.heading{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4 ;
    color: #fff;
}

.heading span{
    color: var(--yellow);
}

header{
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #303952;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{

    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--yellow);

}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
}


header .user .post{
    font-size: 2rem;
    color: #eee;
}

header .navbar{
    width: 100%;

}

header .navbar ul{
    
    list-style: none;
    padding: 1rem 3rem;
    
}

header .navbar ul li a{
    display: block;
    padding: 0.5rem;
    margin: 1rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background: var(--yellow);
}

#menu{
    position: fixed;
    top: 2rem;right: -1rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 10rem;
}


.home h3{
    font-size: 2.5rem;
    color: #fff;
}

.home h1{
    font-size: 5rem;
    color: #fff;
}
.home h1 span{
    color: var(--yellow);
}

.home p{
    font-size: 1.5rem;
    color: #eee;
}


.about .row{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 1rem 0;
}

.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem  1rem;
    padding-left: 6rem;

}

.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: #eee;
    padding: 0.5rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    padding: 2rem  1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}


.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 1rem;
}

.education .box-container .box{
    width: 20rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    padding-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:var(--yellow);
    color: #fff;
    border-radius: 2rem;
    padding: 1rem;

}

.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top: -1.5rem; left:-2.1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    align-items: center;
    font-size: 2rem;
    color: #fff;
   
}

/* skill Box */
.skills .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 0rem;

}


.skills .box-container .box{
    height: 20rem;
    width: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
    
}

.skills .box-container .box img{
    height: 100%;
    width: 21rem;
    object-fit: cover;
}

.skills .box-container .box:hover img{
    transform: scale(1.2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}



.wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: auto;
  
}
.skill{
  width: 160px;
  height: 160px;
  position: relative;
 
  

}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0,0.15),
               -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner{
  height: 120px;
  background-color: var(--yellow);
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset  -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
              -0.5px -0.5px 0px rgba(255, 255, 255, 1)
              0.5px 0.5px 0px rgba(0, 0, 0,0.15 )
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
 
}
.num{
  font-weight: 600;
  color: #555;
  font-size: 20px;
}

circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 550;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.css{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 502;
  stroke-dashoffset: 472;
  animation: animcss 2s linear forwards;

}

.tailwind{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 472;
  animation: animtail 2s linear forwards;

}
.boots{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 472;
  animation: animboots 2s linear forwards;

}
.java{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 455;
  stroke-dashoffset: 472;
  animation: animjava 2s linear forwards;
}

.py{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 472;
  animation: animpy 2s linear forwards;
}
.dj{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 472;
  animation: animdj 2s linear forwards;
}

.sql{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 405;
  stroke-dashoffset: 472;
  animation: animsql 2s linear forwards;
}
.c{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 530;
  stroke-dashoffset: 472;
  animation: animc 2s linear forwards;

}

.cpp{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 530;
  stroke-dashoffset: 472;
  animation: animcpp 2s linear forwards;

}

svg{
  position: absolute;
  top: 0;
  left: 0;

}
@keyframes anim{
  100%{
      stroke-dashoffset: 165;
  }

}
@keyframes animcss{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animtail{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animboots{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animjava{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animpy{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animdj{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animsql{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animc{
  100%{
      stroke-dashoffset: 185;
  }
}
@keyframes animcpp{
  100%{
      stroke-dashoffset: 185;
  }
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .content{
    flex:  1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{
    flex:  1 1 45rem;
    padding: 2rem;
    margin: 2rem;
  margin-bottom: 4rem;
}
.contact .row form  .box{
    padding: 1.6rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;

}

.contact .row form .message{
    height: 15rem;
    resize: none;
}


.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;

}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
}

.contact .row form  .box::placeholder{
    text-transform: capitalize;
}

.top{
    position: fixed;
    bottom: 7.5rem; right: 2rem;
    z-index: 100;
  
    display: none;
}

.active{
    background: #fff;
  
  
}


.icons{
    position: fixed;
    top: 50%;
    right: -18vw;
    transform: translateY(-80%);
    z-index: 1000;
}

.icons .fa{
    width: 20vw;
 
    font-size: 2.5vw;
    cursor: pointer;
    background: #fff;
    transition: 0.5s ease;
}

.icons .fa:hover{
    background: var(--yellow);
    transform: translateX(-4vw);
}


.hero-section{
    position:relative;

    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 4rem;
    padding-bottom: 8rem;
}



.hero-section-left{
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: white;
    font-weight: 500;
}

.role{
    color: var(--yellow);
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
    
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
}
.user-image{
    padding:2.5rem;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    z-index:-9;
  }






@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media(max-width:991px){
    header{
        left: -100%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}

@media(max-width:768px){
    html{
        font-size: 50%;
    
    }
}

@media(max-width:400px){
    header{
        width: 100vw;
    
    }

    .heading{
        margin: 0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .skills .box-container .box {
        width: 100%;
    }
    .contact .row form {
        margin-top: 3rem 0;
    }
    .icons{
        position: fixed;
        z-index: 100;
        right: -10vw;
    }
    .icons .fa{
       
        padding: 1.9vw;
        
        

    }

   

}



  .page-header{
    color:var(--bgOrange);
    font-size:90px;
    text-align:center;
    padding-top:30px;
    color:#f9ca24 ;
  }
  .project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display:flex;
    flex-direction:column;
    gap:120px;
  }

  .project-card{
    width:90%;
    height:400px;
    background-image: url(/proj1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #f9ca24;
  }

  .project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
   
    /* transform: scaleX(1); */
  }

  .project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
  }

  .project-card:hover::before{
    transform:scaleX(1);
  }

  .project-number{
    position:absolute;
    font-size:100px;
    font-weight:500;
    color:white;
    z-index:10;
    /* display:none; */
    opacity: 0;
  }

  .project-card:hover .project-number{
    /* display:block; */
    opacity: 1;
  }

  .project-number-right{
    right:-5px;
    top:-25px;
  }

  .project-number-left{
    left:-5px;
    top:-25px;
  }

  .project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
  }


  .project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

  .project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  
  }

  .project-skill{
    width:40px;
  }

  .project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
  }
  
  .project-subHeading{
    width:70%;
    font-size:16px;
    font-style: italic;
  }


  .btn-grp{
    display:flex;
    gap:0.9rem;
    align-items:center;
  }

  .btn-project:hover{
    border:none;
  }

  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  .icon:hover{
    color:var(--bgOrange);
  }

  .project-card:hover .project-content{
    transform:scale(1.1);
  }

  #project1{
    background-image: url(/Proj1.png) ;
    background-size:     82rem;                      
    background-repeat:   no-repeat;
    
 
  }

  #project2{
    margin-left:120px;
    background-image: url(/proj2.png);
    background-size:     82rem 45rem;                      
    background-repeat:   no-repeat
  }
  #project3{
    background-image: url(/proj3.png);
    background-size:     82rem;                      
    background-repeat:   no-repeat
  }
  #project4{
    margin-left:120px;
    background-image: url(/Proj4.png);
    background-size:     82rem;                      
    background-repeat:   no-repeat
  }
  #project5{
    
    background-image: url(/razor.png);
    background-size:     82rem;                      
    background-repeat:   no-repeat
  }

  @media (max-width:1300px) {
    .page-header {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 110%;
      height: 320px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .project-content-left {
      left: 0;
    }
    .project-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-sub-heading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }
    .project-skill-container {
      width: 100%;
    }
    .project-skill {
      width: 35px;
    }
    .project-card:hover .project-number {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }

    #project1{
        background-image: url(/Proj1.png) ;
        background-size:     50rem 38rem;                      
        background-repeat:   no-repeat;
        
     
      }
      #project2{
       
        background-image: url(/proj2.png);
        background-size:     50rem 38rem;                     
        background-repeat:   no-repeat
      }
      #project3{
        background-image: url(/proj3.png);
        background-size:     50rem 38rem;                      
        background-repeat:   no-repeat
      }
      #project4{
      
        background-image: url(/Proj4.png);
        background-size:     50rem 38rem;                    
        background-repeat:   no-repeat
      }
      #project5{
      
        background-image: url(/razor.png);
        background-size:     50rem 38rem;                    
        background-repeat:   no-repeat
      }
  }


  .skills-container{
    position:relative;
    display:flex;
     
    padding:5rem;
    margin:10rem auto;
    gap:30px;
    
  }

.skill-container-left{
  width:50%;
  display:flex;
  flex-direction:column;
}

.skill-container-right{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  gap:2rem;
  justify-content: center;
}

.skill-fade-text{
  position:absolute;
  font-size:15em;
  font-style:bold;
  color:rgb(231,231,231);
  bottom:-34.5%;
  right:-25%;
  user-select:none;
  overflow-y:hidden;
}

.blob-style{
  position:absolute;
  top:50%;
  left:50%;
  z-index:-5;
  transform:translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
  50%{
    top:54%;
    left:46%;
  }
}

.skills-logo{
  width:90px;
  transition:all 0.5s;
}

.skills-logo:hover{
  transform:scale(1.2);
}

.skill-heading{
  font-size:50px;
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px;
}

.caps{
  font-size:90px;
}

.skill-subHeading{
  margin-top: 1rem;
  width:85%;
  text-align: justify;
}

.skill-subHeading p{
  margin:15px 0;
}

.container skills-container{
    display: flex;
}

.skills-container{
    display: flex;
    flex-direction: row;
}

.skill-logo{
    display: flex;
    flex-direction: row;
}



footer{
  position:relative;
  margin-top:-1px;
  background-color: #343d68;
  padding:5rem;
}

.footer-wrapper{
  display:flex;
  gap:1rem;
  padding:1.2rem;
  justify-content: space-between;
  align-items:center;
}

.footer-faded-text{
  position:absolute;
  left:0;
  bottom:0;color:#535c87;
  user-select:none;
  font-size:5em;
}

.link-wrapper{
  display:flex;
  gap:1.2rem;
}

.link-wrapper div a{
  color:white;
  text-decoration:none;
  transition:all 0.6s;
}

.link-wrapper div a:hover{
  color:var(--bgOrange);
}

.icon-wrapper{
  display:flex;
  gap:1rem;
}
